target/
!.mvn/wrapper/maven-wrapper.jar

### Operating System Files ###
*.DS_Store
Thumbs.db
.#*
*#
*~
*.sublime-*
*.pid

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

README.html

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.log
